quartz.scheduler.instanceName = Izenda_Quartz
quartz.scheduler.instanceId = AUTO
quartz.threadPool.threadCount = 10
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.lockHandler.type = Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz
quartz.jobStore.dataSource = QuartzNET_DS
quartz.dataSource.QuartzNET_DS.connectionString = [YOUR CONNECTION STRING HERE]

# If you are using a database other than SQL Server, be sure to use the appropriate provider for your database 
# SqlServer - SQL Server driver for .NET Framework 2.0
# OracleODP - Oracle’s Oracle Driver
# OracleODPManaged - Oracle’s managed driver for Oracle 11
# MySql - MySQL Connector/.NET
# Npgsql - PostgreSQL Npgsql
# For more information, please consult the Quartz documentation:
# https://www.quartz-scheduler.net/documentation/quartz-3.x/tutorial/job-stores.html

quartz.dataSource.QuartzNET_DS.provider = SqlServer
quartz.jobStore.useProperties = true
quartz.jobStore.misfireThreshold = 60000
quartz.jobStore.clustered = true
quartz.serializer.type = json